PORT=7860
RUST_LOG=info
BIRDEYE_API_KEY=your_birdeye_api_key_here
HELIUS_RPC_URL=https://mainnet.helius-rpc.com
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_key_here
SCAN_INTERVAL_SECS=30
TOKEN_LIMIT=250
MIN_LIQUIDITY=1000